@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Pathway+Extreme:ital,wght@1,100&family=Poppins&family=Schibsted+Grotesk:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(#8f6bb3,#220448);
    color:white;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
    
    

}

main{
    width: 50vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

main h1{
    color:lavender;
    font-size: 3rem;
    margin-bottom: 3rem;
}

main.social-media{
    display: flex;
    align-content: center;
}

main .social-media a{
    text-decoration: none;

}

main .social-media img{
    width: 36px;
    margin-left: 3rem;
}

main .social-media a :first-child img {
   margin-left: 0;
}

main .alternative{
    margin-top: 1rem;
}

main .alternative span{
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
    position: relative;

}

main .alternative span: ::before, main .alternative span::after{
    position:absolute;
    content: '';
    height: 1px;
    width: 100px;
    bottom:50%;
    right: 50px;
    background: rgba(255, 255, 255, 0.3);
}



main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label {
    display: flex;
    flex-direction: column;

}

main form label span {
    font-size: 1.1rem;
    margin-top: 2rem;
}

main form input {
    background: #111;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    border: 1px solid #0400b18;
    border-radius: 8px;
}


main form input[type="submit"] {
    cursor: pointer;
    width: 50%;
    margin-top: 4rem;
    border:none;
    border-radius: 32px;
    background:#3c3dd8;
    color: white;
    font-size: 1.1rem;
    transition: all .5s ease-in;
}

main form input[type="submit"] :hover {
    background-color: #fcf5ff;
}

section.images {
    display: flex;
    align-items: center;
    padding: 7rem;

}



section.images .circle {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #9f56e7, #541d9b);
    clip-path: circle(30% at right 75%);
    z-index: -1;
}




